html {
    height: 100%;
    background-color: #1d292c;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d292c;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;
}

/* the main screen (3d) */
#viewport-frame,#viewport-div {
  width: 100%;
  height: calc(100%);
}

/* the menu icon container
   visible when interface is closed */
#drawer-icon-div {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
}

/* icon itself (2x) */
.drawer-icon {
    font-size: 24px;
    width:24px;
    height:24px;
    position:absolute;
    bottom:0;
    left:0;
}

/* the entire side panel */
#interface-div {
  width: 350px;
  max-width: 350px;
  height: 100%;
  margin:0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  resize: horizontal;
  overflow: hidden;
}
.interface-part {
  max-width: 350px;
  width: 350px;
  margin-left: 0;
  margin-right: 0;
}

/* form controls for input  */
.form-ctl {
  width: 200px;
}

.hide {
  visibility: hidden;
}

canvas:focus {
    outline: none;
}
