html {
    height: 100%;
    background-color: #1d292c;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d292c;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;
}

/* the main screen (3d) */
#viewport-frame,#viewport-div {
  width: 100%;
  height: calc(100%);
}

/* the menu icon container
   visible when interface is closed */
#drawer-icon-div {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e4e4e4;
}

/* icon itself (2x) */
.drawer-icon {
    font-size: 72px;
    width:72px;
    height:72px;
    position:absolute;
    bottom:0;
    left:0;
}

/* the progress bar */
#progress-div {
  width: 200px;
  height: 20px;
  position: absolute;
  left:50%;
  margin-left:-100px;
  bottom: 70px;
  visibility: hidden;
}

#progress-inner-div {
}

#progress-span {
}

/* address bar */
#address-div {
  width: 300px;
  height: 20px;
  position: absolute;
  left:50%;
  margin-left:-150px;
  top: 20px;
}

/* location indicator bar */
#location-div {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  position: absolute;
  left:50%;
  margin-left:-150px;
  bottom: 0;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.4);
  background-image: none;
}

/* the entire side panel */
#interface-div {
  width: 350px;
  max-width: 350px;
  height: 100%;
  margin:0 0 0 0;
  padding: 0 0 0 0;
  border-right: 2px solid #e4e4e4;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  resize: horizontal;
  overflow: hidden;
  opacity: 0;
}

.interface-part {
  max-width: 350px;
  width: 350px;
  margin-left: 0;
  margin-right: 0;
}

#createSection {
  display: block;
}

#createEntityModelForm {
  display: block;
}

#createEntityImageForm {
  display: none;
}

#createEntityHyperlinkForm {
  display: none;
}

#editSection {
  display: none;
}

#editEntityMoveForm {
  display: block;
}

#editEntityRotateForm {
  display: none;
}

#editEntityScaleForm {
  display: none;
}

#editEntityRemoveForm {
  display: none;
}

#contactSection {
  position: absolute;
  display: block;
  bottom: 0;
  right:150px;
}

#modeLabel {
  position: absolute;
  right: 6px;
  top: 6px;
}

.note {
  font-size: 8px;
}

.label-mode-movement,
.label-mode-movement:hover,
.label-mode-movement.active,
.label-mode-movement.active:hover {
  background-color: #9EB9D4;
}

.label-mode-placement,
.label-mode-placement:hover,
.label-mode-placement.active,
.label-mode-placement.active:hover {
  background-color: #01C5BB;
}

.label-mode-select,
.label-mode-select:hover,
.label-mode-select.active,
.label-mode-select.active:hover {
  background-color: #DAA520;
}

.label-mode-translate,
.label-mode-translate:hover,
.label-mode-translate.active,
.label-mode-translate.active:hover {
  background-color: #00FF7F;
}

.label-mode-rotate,
.label-mode-rotate:hover,
.label-mode-rotate.active,
.label-mode-rotate.active:hover {
  background-color: #FA8072;
}

.label-mode-scale,
.label-mode-scale:hover,
.label-mode-scale.active,
.label-mode-scale.active:hover {
  background-color: #966FD6;
}

/* form controls for input  */
.form-ctl {
  width: 200px;
}

canvas:focus {
    outline: none;
}
