html {
    height: 100%;
    background-color: #1d292c;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d292c;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;
}

#frameset {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

#viewport-frame,#viewport-div {
  width: 100%;
  height: calc(100%);
}

#interface-div {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
}
#container-div {
  width: 300px;
}
#drawer-icon-div {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
}

#interface-frame {
  width: 50%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.drawer-icon {
    font-size: 24px;
    width:24px;
    height:24px;
}

.drawer-icon-closed {
    position:absolute;
    bottom:0;
    left:0;
}
canvas:focus {
    outline: none;
}
